body {
  background-image: url('https://thumbs.dreamstime.com/b/pared-de-ladrillo-antiguo-con-yeso-descascaramiento-para-fondo-pelado-193255563.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
}
